* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}


h2,
h3 {
  margin: 0 auto;
  color: rgb(66, 171, 231);
}

.flex-parent {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* %%% PROJECT CSS %%% */
.project-card {
  margin: 1vh .5vw;
  padding: 5px;
  width: 48%;
  height: 250px;
  border: 2px solid rgb(195, 195, 195);
  border-radius: 13px;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  transition: ease-in-out .3s;
  color: black;
}

.project-card h2 {
  font-size: 25px;
}

.project-card:hover h2 {
  color: white;
}

.project-card:hover {
  background-color: rgba(18, 13, 66, 0.412);
  /* text-shadow: -.5px 0 rgb(233, 233, 233), 0 .5px rgb(233, 233, 233); */
}

.project-card:hover #fadeAway {
  display: none;
}

.project-card:hover #viewProject {
  display: contents;
}

.btn {
  margin: 5px;
  padding: 3px;
}

#viewProject {
  display: none;
}

@media (min-width: 1025px) {
  .project-card {
    width: 48%;
  }
}

@media (max-width: 1024px) {
  .project-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 98%;
  }
}

/* %%% HEADER CSS %%% */

.header {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 225%;
}

/* %%% NAVBAR CSS %%% */

.navbar {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  margin: 0 3px;
  padding: 0 3px;
}