* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}


h2,
h3 {
  margin: 0 auto;
  color: rgb(66, 171, 231);
}

.flex-parent-home {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.app-card {
  width: 98%;
  margin: 1vh 1vw;
}

/* %%% HEADER CSS %%% */
.header {
  text-align: center;
  margin: 5px;
  padding: 5px;
  font-size: 225%;
}

/* %%% NAVBAR CSS %%% */
.navbar {
  text-align: center;
  font-size: 125%;
}

.nav-link {
  text-decoration: none;
  margin: 0 3px;
  padding: 0 3px;
}

.nav-link:hover {
  color: rgb(255, 166, 0);
}

/* %%% HOME CSS %%% */
.home-card {
  margin: 1vh .5vw;
}

.home-card h2 {
  width: 98%;
  text-align: center;
  margin-bottom: 1vh;
}

/* %%% PROJECT CSS %%% */
.flex-parent-project {
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  margin: 1vh .5vw;
  padding: 5px;
  width: 48%;
  height: 250px;
  border: 2px solid rgb(195, 195, 195);
  border-radius: 13px;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  transition: ease-in-out .3s;
  color: black;
  /* margin: 0 auto; */
}

.project-card h2 {
  font-size: 25px;
}

.project-card:hover h2 {
  color: white;
}

.project-card:hover {
  background-color: rgba(18, 13, 66, 0.412);
  /* text-shadow: -.5px 0 rgb(233, 233, 233), 0 .5px rgb(233, 233, 233); */
}

.project-card:hover #fadeAway {
  display: none;
}

.project-card:hover #viewProject {
  display: contents;
}

.btn {
  margin: 5px;
  padding: 3px;
}

#viewProject {
  display: none;
}

/* %%% ABOUT ME CSS %%% */
.flex-parent-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2vh;
}

.about-card {
  width: 98%;
  /* margin: 0 auto; */
  margin: 1vh .5vw;
}

.about-card h2 {
  width: 98%;
  text-align: center;
  margin-bottom: 1vh;
}

.about-card img {
  width: 300px;
  margin: 3vh 1vw;
}

.about-card p {
  width: 80%;
  margin: 1vh 1vw;
}

/* %%% Contact ME CSS %%% */
.flex-parent-contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2vh;
}

.contact-card {
  width: 98%;
  text-align: center;
  /* margin: 0 auto; */
  margin: 1vh .5vw;
}

.contact-card h2 {
  width: 98%;
  text-align: center;
  margin-bottom: 1vh;
}

.contact-card img {
  width: 30px;
}

.contact-card a {
  text-decoration: none;
}

.contact-children {
  width: 10%;
  margin: 0 10px;
  padding: 5px;
}

/* %%% Resume CSS %%% */
.flex-parent-resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}

.resume-card {
  width: 98%;
  /* margin: 1vh .5vw; */
  margin: 0 auto;
}

.resume-card h2 {
  width: 98%;
  text-align: center;
  margin-bottom: 1vh;

}

.resume-img {
  width: 75%;
  margin: 0 auto;
}

.resume-card a {
  max-width: 25%;
  margin-bottom: 55px;
  text-align: center;
}

.resume-download {
  margin-bottom: 55px;
  text-align: center;
}

.resume-download img{
  width: 50px;
  margin: 1vh 1vw;
}

.download-icon:hover{
  width: 55px;
}

/* %%% FOOTER CSS %%% */
/* .flex-parent-footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */

.footer {
  /* margin-top: auto; */
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 1vh 1vw;
  background-color: rgb(152, 152, 152);
}

.footer img {
  width: 35px;
  margin: 0 5px;
}

.footer .linkedin {
  width: 26px;
  margin: 4px 5px;
}

.linkedin:hover {
  width: 31px;
}

.github:hover {
  width: 40px;
}

@media (min-width: 1025px) {
  .project-card {
    width: 48%;
  }
}

@media (max-width: 1024px) {
  .project-card {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .home-card {
    margin-bottom: 55px;
  }

  .project-card {
    width: 98%;
  }

  .flex-parent-contact {
    flex-direction: column;
    align-items: center;
  }

  .contact-children {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vh 1vw;
  }

  .about-card {
    margin-bottom: 55px;;
  }

  .resume-img {
    width: 98%;
  }
}